---
name: Evergreen
on:
  workflow_dispatch:
  schedule:
    - cron: "3 2 1 * *"

permissions:
  contents: read

jobs:
  evergreen:
    name: evergreen
    runs-on: ubuntu-latest

    steps:
      - name: Create GitHub App token
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf  # v2.2.1
        id: app-token
        with:
          app-id: ${{ vars.OSPO_AUTOMATION_APP_ID }}
          private-key: ${{ secrets.OSPO_AUTOMATION_APP_KEY }}
      - name: Run evergreen action
        uses: github/evergreen@f20e4ccfb95ff18c8668834d930cfcbb799668e3  # 1.24.9
        env:
          GH_APP_ID: ${{ vars.OSPO_AUTOMATION_APP_ID }}
          GH_APP_INSTALLATION_ID: ${{ vars.OSPO_AUTOMATION_INSTALLATION_ID }}
          GH_APP_PRIVATE_KEY: ${{ secrets.OSPO_AUTOMATION_APP_KEY }}
          ORGANIZATION: ${{ github.repository_owner }}
          SCHEDULE: monthly
          COMMIT_MESSAGE: "chore: add Dependabot configuration"
          TITLE: "chore: add Dependabot configuration"
          BODY: |
            This PR adds a Dependabot configuration file to the repository.
            This will enable Dependabot to keep your dependencies up-to-date automatically.
            For more information, see https://dependabot.com/
