---
name: Fork sync

on:
  schedule:
    - cron: '0 2 * * *'
  workflow_dispatch:

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - name: Create GitHub App token
        uses: actions/create-github-app-token@7e473efe3cb98aa54f8d4bac15400b15fad77d94  # v2.2.0
        id: token
        with:
          app-id: ${{ vars.OSPO_AUTOMATION_APP_ID }}
          private-key: ${{ secrets.OSPO_AUTOMATION_APP_KEY }}
          owner: ${{ github.repository_owner }}
      - name: Checkout repo
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1
      - name: Sync forks
        env:
          GITHUB_TOKEN: ${{ steps.token.outputs.token }}
          OWNER: ${{ github.repository_owner }}
        run: >-
          gh api "/orgs/${OWNER}/repos" --jq '.[] | select(.fork == true) | .full_name'
          | xargs --verbose gh repo sync --branch main
