---
name: Fork sync

on:
  schedule:
    - cron: '0 2 * * *'
  workflow_dispatch:

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - name: Create GitHub App token
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf  # v2.2.1
        id: token
        with:
          app-id: ${{ vars.OSPO_AUTOMATION_APP_ID }}
          private-key: ${{ secrets.OSPO_AUTOMATION_APP_KEY }}
          owner: ${{ github.repository_owner }}
      - name: Checkout repo
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd  # v5.0.1
      - name: Sync forks
        env:
          GITHUB_TOKEN: ${{ steps.token.outputs.token }}
          OWNER: ${{ github.repository_owner }}
        run: >-
          gh api "/orgs/${OWNER}/repos" --jq '.[] | select(.fork == true) | .full_name'
          | xargs --verbose gh repo sync --branch main
